.people_walk .people_leg{
  animation-duration: var(--speed-walk);
  animation-iteration-count: infinite;
  animation-name: walk_leg;
}

@keyframes walk_leg {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(-1);
  }
  100% {
    transform: scaleY(1);
  }
}

.people_walk{
  /*--distanse: 1000;*/
  --distanse-px: 1000px;
  transform: translateY(calc(0px - var(--distanse-px)));
  transition: transform;
  transition-duration: calc(var(--speed-walk));
  transition-timing-function: linear;
}

.car_run{
  /*--distanse: 3000;*/
  --distanse-px:3000px;
  transform: translateX(calc(0px - var(--distanse-px)));
  transition: transform;
  transition-duration: calc(var(--speed-walk));
  transition-timing-function: linear;

  /*animation-duration: calc(var(--speed-walk) * 3);*/
  /*animation-timing-function: linear;*/
  /*animation-iteration-count: infinite;*/
  /*animation-name: car_path;*/
}

@keyframes car_path {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-3000px, 0px);
  }
}